<h2>Statistik</h2>

<div>
  <h3>Gesamterfolgsrate</h3>
  <p>{{ getOverallSuccessRate() }} %</p>
</div>

@if (hasPositiveHabitEntries()) {
  <h3>Positive Habits</h3>

  @for (habit of habits(); track habit._id) {
    @if (
      habit.type === 'positive' &&
      (
        getPlannedCount(habit) > 0 ||
        getCompletedCount(habit) > 0 ||
        getMissedCount(habit) > 0
      )
    ) {
      <div>
        <h4>{{ habit.name }}</h4>

        <p>Geplant: {{ getPlannedCount(habit) }}</p>
        <p>Erledigt: {{ getCompletedCount(habit) }}</p>
        <p>Verpasst: {{ getMissedCount(habit) }}</p>

        @if (getCompletedCount(habit) + getMissedCount(habit) > 0) {
          <p>Erfolgsrate: {{ getSuccessRate(habit) }} %</p>
        } @else {
          <p>Erfolgsrate: noch keine Wertung</p>
        }
      </div>
    }
  }
}

@if (hasOccurredNegativeHabits()) {
  <h3>Negative Habits</h3>

  @for (habit of habits(); track habit._id) {
    @if (habit.type === 'negative' && getOccurredCount(habit) > 0) {
      <div>
        <h4>{{ habit.name }}</h4>
        <p>Vorkommnisse: {{ getOccurredCount(habit) }}</p>
      </div>
    }
  }
}