<h2>Meine Habits</h2>

<ul>
  @for (habit of habits(); track habit._id) {
    <li>
      {{ habit.name }} - {{ habit.type }} - Kategorie: {{ habit.category }}

      <button (click)="editHabit(habit)">Bearbeiten</button>
      <button (click)="deleteHabit(habit._id)">Löschen</button>
    </li>
  }
</ul>

<h3>Habit hinzufügen</h3>

<input
  type="text"
  [(ngModel)]="newHabitName"
  placeholder="Name des Habits"
/>

<select [(ngModel)]="newHabitCategory">
  <option value="">Kategorie auswählen</option>

  @for (category of categories; track category) {
    <option [value]="category">
      {{ category }}
    </option>
  }
</select>

<select [(ngModel)]="newHabitType">
  <option value="positive">Positiv</option>
  <option value="negative">Negativ</option>
</select>

@if (editingHabitId) {
  <button (click)="saveHabit()">Änderungen speichern</button>
} @else {
  <button
    (click)="addHabit()"
    [disabled]="!newHabitName || !newHabitCategory"
  >
    Habit hinzufügen
  </button>
}